<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Omega</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Air</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>air</string>
				</array>
			</dict>
			<key>Alien</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>alien</string>
				</array>
			</dict>
			<key>Amethyst</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>amethyst</string>
				</array>
			</dict>
			<key>Aquatic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aquatic</string>
				</array>
			</dict>
			<key>Boost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>boost</string>
				</array>
			</dict>
			<key>Caterpillar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>caterpillar</string>
				</array>
			</dict>
			<key>Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic</string>
				</array>
			</dict>
			<key>Cookie</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cookie</string>
				</array>
			</dict>
			<key>Coral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>coral</string>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
			</dict>
			<key>Desert</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>desert</string>
				</array>
			</dict>
			<key>Earth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>earth</string>
				</array>
			</dict>
			<key>Electric</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>electric</string>
				</array>
			</dict>
			<key>Emerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>emerald</string>
				</array>
			</dict>
			<key>Fire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fire</string>
				</array>
			</dict>
			<key>Fireworks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fireworks</string>
				</array>
			</dict>
			<key>Floral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>floral</string>
				</array>
			</dict>
			<key>Galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>galaxy</string>
				</array>
			</dict>
			<key>Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gold</string>
				</array>
			</dict>
			<key>Grassy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>grassy</string>
				</array>
			</dict>
			<key>Hearts</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hearts</string>
				</array>
			</dict>
			<key>Holiday</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>holiday</string>
				</array>
			</dict>
			<key>Jelly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jelly</string>
				</array>
			</dict>
			<key>Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light</string>
				</array>
			</dict>
			<key>Moonlight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>moonlight</string>
				</array>
			</dict>
			<key>Mountain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mountain</string>
				</array>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>neon</string>
				</array>
			</dict>
			<key>Pineapple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pineapple</string>
				</array>
			</dict>
			<key>Pumpkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pumpkin</string>
				</array>
			</dict>
			<key>Robin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>robin</string>
				</array>
			</dict>
			<key>Ruby</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ruby</string>
				</array>
			</dict>
			<key>Sailboat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sailboat</string>
				</array>
			</dict>
			<key>Scuba</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>scuba</string>
				</array>
			</dict>
			<key>Special</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>special</string>
				</array>
			</dict>
			<key>Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sunset</string>
				</array>
			</dict>
			<key>System</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>system</string>
				</array>
			</dict>
			<key>Turtle</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>turtle</string>
				</array>
			</dict>
			<key>Unicorn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>unicorn</string>
				</array>
			</dict>
			<key>Water</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>water</string>
				</array>
			</dict>
			<key>Watermelon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>watermelon</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Air</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>air-ipad</string>
					<string>air-pro</string>
				</array>
			</dict>
			<key>Alien</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>alien-ipad</string>
					<string>alien-pro</string>
				</array>
			</dict>
			<key>Amethyst</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>amethyst-ipad</string>
					<string>amethyst-pro</string>
				</array>
			</dict>
			<key>Aquatic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aquatic-ipad</string>
					<string>aquatic-pro</string>
				</array>
			</dict>
			<key>Boost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>boost-ipad</string>
					<string>boost-pro</string>
				</array>
			</dict>
			<key>Caterpillar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>caterpillar-ipad</string>
					<string>caterpillar-pro</string>
				</array>
			</dict>
			<key>Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic-ipad</string>
					<string>classic-pro</string>
				</array>
			</dict>
			<key>Cookie</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>cookie-ipad</string>
					<string>cookie-pro</string>
				</array>
			</dict>
			<key>Coral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>coral-ipad</string>
					<string>coral-pro</string>
				</array>
			</dict>
			<key>Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-ipad</string>
					<string>dark-pro</string>
				</array>
			</dict>
			<key>Desert</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>desert-ipad</string>
					<string>desert-pro</string>
				</array>
			</dict>
			<key>Earth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>earth-ipad</string>
					<string>earth-pro</string>
				</array>
			</dict>
			<key>Electric</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>electric-ipad</string>
					<string>electric-pro</string>
				</array>
			</dict>
			<key>Emerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>emerald-ipad</string>
					<string>emerald-pro</string>
				</array>
			</dict>
			<key>Fire</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fire-ipad</string>
					<string>fire-pro</string>
				</array>
			</dict>
			<key>Fireworks</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>fireworks-ipad</string>
					<string>fireworks-pro</string>
				</array>
			</dict>
			<key>Floral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>floral-ipad</string>
					<string>floral-pro</string>
				</array>
			</dict>
			<key>Galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>galaxy-ipad</string>
					<string>galaxy-pro</string>
				</array>
			</dict>
			<key>Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>gold-ipad</string>
					<string>gold-pro</string>
				</array>
			</dict>
			<key>Grassy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>grassy-ipad</string>
					<string>grassy-pro</string>
				</array>
			</dict>
			<key>Hearts</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hearts-ipad</string>
					<string>hearts-pro</string>
				</array>
			</dict>
			<key>Holiday</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>holiday-ipad</string>
					<string>holiday-pro</string>
				</array>
			</dict>
			<key>Jelly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>jelly-ipad</string>
					<string>jelly-pro</string>
				</array>
			</dict>
			<key>Light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>light-ipad</string>
					<string>light-pro</string>
				</array>
			</dict>
			<key>Moonlight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>moonlight-ipad</string>
					<string>moonlight-pro</string>
				</array>
			</dict>
			<key>Mountain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>mountain-ipad</string>
					<string>mountain-pro</string>
				</array>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>neon-ipad</string>
					<string>neon-pro</string>
				</array>
			</dict>
			<key>Pineapple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pineapple-ipad</string>
					<string>pineapple-pro</string>
				</array>
			</dict>
			<key>Pumpkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>pumpkin-ipad</string>
					<string>pumpkin-pro</string>
				</array>
			</dict>
			<key>Robin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>robin-ipad</string>
					<string>robin-pro</string>
				</array>
			</dict>
			<key>Ruby</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ruby-ipad</string>
					<string>ruby-pro</string>
				</array>
			</dict>
			<key>Sailboat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sailboat-ipad</string>
					<string>sailboat-pro</string>
				</array>
			</dict>
			<key>Scuba</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>scuba-ipad</string>
					<string>scuba-pro</string>
				</array>
			</dict>
			<key>Special</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>special-ipad</string>
					<string>special-pro</string>
				</array>
			</dict>
			<key>Sunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sunset-ipad</string>
					<string>sunset-pro</string>
				</array>
			</dict>
			<key>System</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>system-ipad</string>
					<string>system-pro</string>
				</array>
			</dict>
			<key>Turtle</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>turtle-ipad</string>
					<string>turtle-pro</string>
				</array>
			</dict>
			<key>Unicorn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>unicorn-ipad</string>
					<string>unicorn-pro</string>
				</array>
			</dict>
			<key>Water</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>water-ipad</string>
					<string>water-pro</string>
				</array>
			</dict>
			<key>Watermelon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>watermelon-ipad</string>
					<string>watermelon-pro</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
